@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico);


body {
	font-family: 'Indie Flower', cursive;
	text-align: center;
    background: url("https://static.pexels.com/photos/53364/girls-women-happy-sexy-53364.jpeg");
    background-size: cover;
    color: #fff;
}

h1, p {
	font-family: 'Pacifico', cursive;
	color: white;
	font-size: 22px;
}
hr {
      width: 200px;
}
#slogan {
	font-style: italic;
}
