body {
	text-align: center;
    background: url("hhttps://static.pexels.com/photos/32282/pexels-photo.jpg");
    background-size: cover;
    color: #fff;
}

h1, p {
	color: white;
	font-size: 22px;
}
hr {
      width: 200px;
}
#slogan {
	font-style: italic;
}
